* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  background-color: rgb(236, 234, 234);
}

.container{
  margin: 2%;
}
.error{
    color: red;
}

.cards{
  display: flex;
  text-align: center;
  justify-content: space-around;
}


@media screen and (max-width:560px){
    .cards{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}