body{
  /* background-color: rgb(226, 238, 255); */
     background-color: rgb(236, 234, 234);

   padding: 0;
   margin: 0;

}
.headerContainer{
text-align: center;
}
.header{
  padding: 30px;
  font-weight: 900;
}
.para{
  color: rgba(10, 10, 10, 0.577);
  font-weight: 600;
  padding: 3px;
  
}
.landingPageButton{
  display: inline-block;
  margin-top: 10px;
}

.cards{
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width:560px){
    .cards{
   flex-direction: column;
    }
}
