.formHeader{
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.formFotter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    width: 49%;

}
.cancelButton{
 background-color: rgb(214, 215, 216);
}


.cancelButton:hover {
    background-color: rgb(163, 164, 165);
}


@media screen and (max-width:560px){
    .form{
        width: 80%;
    }
    .formFotter{
        flex-direction: column;
        align-items: stretch;
    }

    .button{
        width: 96%;
        margin: 5px 0;
        padding: 10px 0;
    }
}

