.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding:  40px;
    border-radius: 15px;
}

.cardBody{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.iconSpan{
    background-color: rgb(24, 58, 152);
    padding: 10px;
    align-items: center;
    border-radius: 10px;

}
.icon{
    color: white;
}

@media screen and (max-width:560px){
    .card{
        display: flex;
        text-align: center;
        width: 80%;

        margin: 10px auto;
    }
}