.card{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding:  40px;
    border-radius: 15px;
    min-width: 220px;
    max-width: 300px;
}

.cardBody{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.iconSpan{
    background-color: rgb(24, 58, 152);
    padding: 10px;
    align-items: center;
    border-radius: 10px;

}
.icon{
    color: white;
}


.iconSpanLandingPage{
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    width: fit-content;
}


.ticketIcon{
    background-color: rgb(188, 226, 255);
}
.ticketIconColor{
        color: rgb(1, 4, 159);

}

.statusIcon{
     background-color:rgb(208, 247, 208) ;
}
.statusIconColor{
    color:rgb(1, 122, 1) ;
}
.analyticsIcon{
     background-color: rgb(247, 218, 253);
}
.analyticsIconColor{
    color: rgb(150, 2, 179);
}
.teamIcon{
    background-color: rgb(252, 213, 151);
}
.teamIconColor{
   color: rgb(155, 96, 2);
}

.cardTextBody{
    color: rgb(108, 108, 108);
    font-weight: 400;
}

@media screen and (max-width: 768px) {
  .card {
    width: 50%;
  }
}
@media screen and (max-width:560px){
    .card{
        display: flex;
        text-align: center;
        width: 80%;
        margin: 10px auto;
    }
}

