/* [project]/ticket-management-system-next/app/globals.css [app-client] (css) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #eceaea;
  margin: 0;
  padding: 0;
}

.container {
  margin: 2%;
}

.error {
  color: red;
}

.cards {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .cards {
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  .cards {
    flex-direction: column;
  }
}

.button {
  color: #fff;
  cursor: pointer;
  background-color: #183a98;
  border: none;
  border-radius: 5px;
  margin: 15px 0;
  padding: 10px 20px;
  text-decoration: none;
}

.button:hover {
  background-color: #02164d;
}

.form {
  background-color: #fff;
  border-radius: 10px;
  width: 50%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 8px #0000001a;
}

.inputContainer {
  margin-bottom: 15px;
}

.formLabel {
  color: #242424;
  margin: 5px 0;
  font-family: Times New Roman, Times, serif;
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.formInput {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 95%;
  max-width: 700px;
  padding: 10px;
  font-size: 16px;
}

.required {
  color: red;
}

@media screen and (max-width: 560px) {
  .form {
    width: 80%;
  }
}

@media screen and (width: 320px) {
  .form {
    width: 95%;
  }
}

.iconSpan {
  background-color: #183a98;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
}

.icon {
  color: #fff;
}

.loadingText {
  text-align: center;
  font-weight: 44px;
  justify-content: center;
  align-items: center;
  font-size: larger;
  display: flex;
}

.spinnerContainer {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  display: flex;
}

.status {
  border-radius: 9px;
  width: fit-content;
  margin: 10px 0;
  padding: 9px;
}

.openStatus {
  background-color: #f9f9a9;
}

.closedStatus {
  background-color: #d8d5d9;
}

.inProgressStatus {
  background-color: #a9f9a9;
}

.resolvedStatus {
  background-color: #f7dafd;
}

/* [project]/ticket-management-system-next/app/components/Navbar/navbar.module.css [app-client] (css) */
.navbar-module__T2QR8a__nav {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  display: flex;
  box-shadow: 0 2px 8px #0000001a;
}

.navbar-module__T2QR8a__brand, .navbar-module__T2QR8a__logoutButton {
  align-items: center;
  display: flex;
}

.navbar-module__T2QR8a__navLink {
  color: #000;
  text-decoration: none;
}

.navbar-module__T2QR8a__user {
  align-items: center;
  gap: 15px;
  display: flex;
}

.navbar-module__T2QR8a__navLink:hover, .navbar-module__T2QR8a__userData:hover, .navbar-module__T2QR8a__dashboard:hover {
  color: #183a98;
}

.navbar-module__T2QR8a__logoutButton {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.navbar-module__T2QR8a__logoutButton:hover {
  background-color: #e8eaea;
}

.navbar-module__T2QR8a__icon {
  color: silver;
  width: 28px;
  padding: 5px;
}

.navbar-module__T2QR8a__dashboard {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 540px) {
  .navbar-module__T2QR8a__navLink {
    display: none;
  }
}

/*# sourceMappingURL=ticket-management-system-next_app_13a34f5a._.css.map*/