.tableContainer{
    background-color: white;
    border-radius: 5px;  
    border: 2px solid gainsboro;
    width: 96%;
    margin: auto;
    margin-top: 30px;

}
.tableContainer h1 , .addTicketBtn {
    margin: 20px;
}
.table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: px solid gray;
}
.tableHeader{
    background-color: rgb(237, 237, 237);
}


.row:hover{
 background-color: #f4f2f2;
}
.cell{

    padding: 15px;
    width: 20px;
    border-top: 1px solid #ddd; 

}
.statusCell{
    white-space: nowrap;
}
.action{
    color: rgb(58, 58, 252);
    padding: 6px;
 
}
.noTicketsFound{
    padding: 20px;
    font-size: larger;
    font-weight: 500;
    color: rgb(58, 58, 252);
}


@media screen and (max-width:560px){
.tableContainer{
        width: 100%;
    }
   
    .cell{
        padding: 14px 4px;

    } 
    /* .action{
        gap:0
    } */
    .actionCell{
        display: none;
    }
}