.formHeader{
    display: flex;
    align-items: center;
    padding: 30px;
}

.formFotter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    width: 49%;

}
.cancelButton{
 background-color: rgb(214, 215, 216);
}


.cancelButton:hover {
    background-color: rgb(163, 164, 165);
}