.modal{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal h1{
    padding: 20px 0;
}
.buttons{
    display: flex;
    justify-content: end;
    gap: 10px;
}
.buttons button {
    border: none;
    padding: 10px;
    border-radius: 4px; 
    cursor: pointer;
    color: white;

}

.confirmButton{
    background-color: rgb(39, 3, 184);
}
.confirmButton:hover{
    background-color: rgb(19, 2, 89);
}

.cancelButton{
 background-color: rgb(214, 215, 216);
}
.cancelButton:hover {
    background-color: rgb(163, 164, 165);
}
