

.color{
    color: rgb(106, 105, 105);
}
.backLink{
     padding: 20px;
     display: flex;
     margin-left:23% ;
    }
.icon{
    width: 22px;
}


@media screen and (max-width: 560px) {
    .backLink {
        margin-left:4%
    }
}
