.loadingText{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 44px ;
    font-size: larger;
}
.spinnerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}