.tableContainer{
    background-color: white;
    border-radius: 5px;  
    border: 2px solid gainsboro;
    width: 96%;
    margin: auto;
    margin-top: 30px;

}
.tableContainer h1 , .addTicketBtn {
    margin: 20px;
}
.table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: px solid gray;
}
.tableHeader{
    background-color: rgb(237, 237, 237);
}


.row:hover{
 background-color: #f4f2f2;
}
.cell{
    padding: 15px;
    border-top: 1px solid #ddd;
}

.action{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
    color: rgb(58, 58, 252);
    text-decoration: none;
    padding: 6px;
    width: fit-content;
    margin: auto;
    border-radius: 2px;
}

.action:hover{
        background-color: rgb(117, 171, 247);
        color: white;
}