.tableContainer{
    background-color: white;
    border-radius: 5px;  
    border: 2px solid gainsboro;
    width: 96%;
    margin: auto;
    margin-top: 30px;

}
.tableContainer h1 , .addTicketBtn {
    margin: 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: px solid gray;
}
